body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#content {
	width:95vw;
    height: 65vh;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

#intro {
	width: 95vw;
	height: 95vh;
	display: flex;
	flex-direction: column;
}


#currentSpeech {
    font-size: 25px;
    text-align: center;
    margin-top: 25px;
}

#intro input {
  height:8%;
  width:40%;
  margin:20px;
  text-align: center;
  font-size: large;
    font-family: serif;
}

#intro {
  display:flex;
  justify-content:center;
  align-items:center
}


#intro button {
	height: 10%;
    width: 25%;
    font-size: large;
}