body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#transcriber {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      height: 90vh;
      width: 100vw;
}

#content {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    /* border: 1px solid black; */
    flex: 0.4;
}

#users {
    display: flex;
    flex-direction: row;
    /* border: 1px solid black; */
    position: relative;
    /* align-items: center; */
    /* overflow-x: auto; */
    flex: 0.8;
    /* overflow-x: auto; */
    flex-wrap: wrap;
    overflow-y: auto;
}

#intro {
	width: 95vw;
	height: 95vh;
	display: flex;
	flex-direction: column;
}

header {
  height: 5vh
}

#wrapperCircle {
    width: 24em;
    height: 24em;
}

/*.deg0 { transform: translate(15em); } !* 12em = half the width of the wrapper *!*/
/*.deg45 { transform: rotate(45deg) translate(15em) rotate(-45deg); }*/
/*.deg90 {transform: rotate(90deg) translate(15em) rotate(-90deg);}*/
/*.deg135 {!* transform: rotate(135deg) translate(15em) rotate(-135deg); *!}*/
/*.deg180 { transform: translate(15em); }*/
/*.deg225 { transform: rotate(225deg) translate(15em) rotate(-225deg); }*/
/*.deg315 { transform: rotate(315deg) translate(15em) rotate(-315deg); }*/



/*.degUp45 { transform: rotate(-45deg) translate(15em) rotate(+45deg); }*/
/*.degUp90 { transform: rotate(-90deg) translate(15em) rotate(90deg); }*/
/*.degUp135 { transform: rotate(-135deg) translate(15em) rotate(135deg); }*/



.avatar span {
  font-size: xx-large;
}

.avatar {
    height: 75px;
    width: 75px;
    display: flex;
    justify-content: center;
    border-radius: 360px;
    position: relative;
    align-items: center;
    /* margin-left: auto; */
    /* margin-right: auto; */
}

#currentSpeech {
    font-size: 25px;
    text-align: center;
    /* margin-top: 20px; */
    height: 5vh;
}

#intro input {
  height:8%;
  width:40%;
  margin:20px;
  text-align: center;
  font-size: large;
    font-family: serif;
}

#intro {
  display:flex;
  justify-content:center;
  align-items:center
}

.hidden {
  display: none !important;
}


#intro button {
	height: 10%;
    width: 25%;
    font-size: large;
}



.speech-bubble {
    position: relative;
    /* height: 15%; */
    width: 65%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: small;
    margin: 5px;
    min-height: 100px;
    /* margin-top: 18px; */
    max-width: 250px;
    /* right: 0; */
    border-radius: 10px;
    /* border-top-left-radius: 0px; */
    /* word-break: break-all; */
    /* align-self: flex-end; */
}

.avtContainer {/* margin: 2%; */display: flex;flex-direction: column;flex-wrap: wrap;/* position: relative; *//* top: 41px; */height: auto;min-height: 250px;width: 300px;/* justify-content: center; */align-items: center;}

.speech-bubble:after {
  content: '';
  position: absolute;
  left: -9px;
  top: 25px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-right-color: inherit;
  border-left: 0;
  /* margin-top: -25px; */
  /* margin-left: -15px; */
}

#chatBubbles {
    width: 30%;
    height: 75%;
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    flex: 0.5;
}


.speech-bubble p {
    margin: 15px;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: transparent;
}




.pids-wrapper{
  width: 300px;
  position: relative;
  top: 0;
  right: 0;
  display: inline-block;
  padding: 10px;
}
.pid{
  /* width: calc(10% - 10px); */
  width: 4.66%;
  margin: 1%;
  height: 20px;
  display: inline-block;
  /* margin: 5px; */
  box-sizing: border-box;
  background: rgb(230, 231, 232);
  float: left;
}


.innerContainer{
  color: black;
  height: 100%;
  align-self: flex-start;
}