body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


body #wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body > #wrapper > #content {
    width:95vw;
    height: 65vh;
}


#content > #transcribed {
    height:99%;
    width:99%;
    border:1px solid black;
    font: 24px "Lucida Grande", Helvetica, Arial, sans-serif;
}


.hpvid {
    width: 95%;
    height: 95%;
}